/*
Error: File to import not found or unreadable: 0-plugins/plugins-dir.
       Load path: /home/eoin/Code/Ryscon/Marketing
        on line 1 of css/app.sass

1: @import '0-plugins/plugins-dir'
2: @import '1-base/base-dir'
3: @import '2-modules/modules-dir'
4: @import '3-layouts/layouts-dir'

Backtrace:
css/app.sass:1
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/import_node.rb:66:in `rescue in import'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/import_node.rb:45:in `import'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/import_node.rb:28:in `imported_file'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/import_node.rb:37:in `css_import?'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:157:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/engine.rb:285:in `render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/exec/sass_scss.rb:407:in `run'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/exec/sass_scss.rb:63:in `process_result'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/2.1.0/gems/sass-3.4.11/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/2.1.0/gems/sass-3.4.11/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: 0-plugins/plugins-dir.\A        Load path: /home/eoin/Code/Ryscon/Marketing\A         on line 1 of css/app.sass\A \A 1: @import '0-plugins/plugins-dir'\A 2: @import '1-base/base-dir'\A 3: @import '2-modules/modules-dir'\A 4: @import '3-layouts/layouts-dir'"; }
